/*
h1 {
    color: darkmagenta;
    background-color: lightgray;
    text-align: center;
    border: 5px gray solid;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/
h1 {
    color: blueviolet;
}
.title {
    background-color: silver;
}
#important {
    color: red;
}
